@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 40px;
}

#nav {
  float: left;
  padding-top: 50px;
  width: 300px;
  /*background-color: #99999994*/
}

#navlist {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
}

.content {
  width: 550px;
  padding-top: 30px;
  margin-left: 300px;
  margin-right: 0px;
  /*background-color: #999999e3;*/
  font-family: 'Lato', sans-serif;
  list-style-type: circle;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}